
.mediacontainer-root{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
}

.leftButton {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-span: 2;
    height: 50px;
    width: 50px;
}

.rightButton {
    grid-column-start: 11;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-span: 2;
    height: 50px;
    width: 50px;
}

.Slideshow {
    grid-column-start: 3;
    grid-column-end: span 6;
    grid-row-start: 1;
}
.TextDisplay{
    grid-column-start: 3;
    grid-column-end: span 6;
    grid-row-start: 2;
}



