body {
    margin-top: 5px;
    background:   lighten(#ececec,4%);
    color: black;
    font-family: 'custom_font2', sans-serif;
}

h1, h3 {
    margin: 5px;
    font-family: 'custom_font1', sans-serif;
}

h3 {
    margin: 6px;

}

button {
    font-family: 'custom_font2', sans-serif;
}

/*  ======================================================
    Navbar
    ====================================================== */
.container {
   background-color:#faf3f3;
   border:1.5px;
   border-style: solid;
   border-color : #e28080;
   border-radius: 20px;
   box-shadow: 0 40px 60px -14px rgba(0,0,0,0.25);
   display: flex;
   flex-direction: column;


}

._inner_navbar {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;



}

.heading{
    background: url('header.jpg');
    padding: 20px;
    color: white;
    height: 130px;

}

.heading h1{
    padding-top: 40px;
}

div > label {
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
}


@media only screen and (max-width: 800px) {
    ._inner_navbar {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: auto auto;
    }
}

/*  ======================================================
    Checkbox
    ====================================================== */
.checkbox input[type="checkbox"] {
    opacity: 0;
}



input[type=checkbox] + label {
  display: block;
  margin: 0.2em;

  padding: 0.2em;
}

input[type=checkbox] {
  display: none;

}


input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  cursor: pointer;
}


input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/*  ======================================================
    Custom Fonts
    ====================================================== */

@font-face {
    font-family: custom_font1;
    src: url("../fonts/CODE Bold.otf");
}

@font-face {
    font-family: custom_font2;
    src: url("../fonts/Monaco.woff");
}
