.containerSlide {
    width: 650px;
    margin: auto;
    padding-top: 40px;
    
        
}

@media only screen and (max-width: 700px){
    .containerSlide {
    max-width:30em;
    height:30em;
    }
    .containerSlide img {
        max-width: 30em ;
        max-height: 30em;
    }
}
@media only screen and (max-width: 486px){
    .containerSlide {
        max-width:18em;
        height:18em;
    }
    .containerSlide img {
        max-width: 18em ;
        max-height: 18em;
    }


}

.containerSlide img {
    height: 500px;
    

}

h1{
    text-align: center;
    margin-bottom: 0;
}

